button {
    width: 70px;
    height: 70px;
    font-size: 0;
    background-color: red;
    border-radius: 35px;
    margin: 18px;
    z-index: 99;
    position: absolute;
    left: 47%;
    top: 41%;

}



.notRec {
    background-color: darkred;
    border-color: transparent;
    border: none;
    outline: none;
    z-index: 99;

}

.Rec:focus{
    outline: none
}

.Rec {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 70px;
    height: 70px;
    font-size: 0;
    background-color: red;
    border: none;
    border-radius: 35px;
    /* margin: 18px; */
    outline: none;
    z-index: 99;
}

.controls {
    outline: none;
    border: none;
    border-color: transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, .3);
    }

    65% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, .3);
    }

    90% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
    }
}


.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #ff3200, #ff6ec0, #7a7a7a);
    background-size: 600% 100%;
    animation: gradient 15s linear infinite;
    animation-direction: alternate;
    outline: none;
    /* margin-top: -25px; */
    z-index: -2;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
    left: 10px;
    top: 10px;
}

