button {
    width: 70px;
    height: 70px;
    font-size: 0;
    background-color: red;
    border-radius: 35px;
    z-index: 99;
    border-width: 1px;
    vertical-align: center;
    position: absolute;
    left: 40%;
    top: 35%;
}


.notRec {
    background-color: darkred;
    border: 3px solid #000000;
    z-index: 99;

}

.Rec:focus{
    outline: none
}

.Rec {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 70px;
    height: 70px;
    font-size: 0;
    border-width: 1px;
    border: none;
    border-radius: 35px;
    /* margin: 18px; */
    outline: none;
    z-index: 99;
    background-color: red;
}

.controls {
    outline: none;
    border: none;
    border-color: transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, .3);
    }

    65% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, .3);
    }

    90% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
    }
}


.center {
    height: 400px;
    width: 300px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 7%;
    position: absolute;
    margin-top: 150px;
    margin-left: 560px;
    border: 10px solid #000000;
}

.holder {
    padding: 30px;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
    left: 10px;
    top: 10px;
}

