<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>

</head>

<body>
    <div id="speechContainer">
        <h1>Upload new File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <br>
            <input type="submit" id="submitButton" value="Transcribe" />
        </form>

        {% if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h1>Transcript</h1>
            <p id="speechText">{{ transcript }}</p>
            <a href="/textanalysis">get your analysis</a>
        </div>
        {% endif %}
    </div>

</body>

</html>
