<!doctype html>
<html>

<!--js and css links-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
    <link rel="stylesheet" href="{{url_for('static', filename='ourcss/style.css')}}">

    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://stephino.github.io/dist/recorder.js"></script>
    <script src="{{url_for('static', filename='ourscripts/recorder.js')}}"></script>
    <script src="{{url_for('static', filename='ourscripts/index.js')}}"></script>

</head>

<body style="margin: 0px; background-color: #db4f4f;">


    <!--gradient animated background-->

    <div class="wrapper"></div>

    <!--recording button -->

    <div class="center">
        <div class="holder">
            <div data-role="controls" class="controls">
                <button class="notRec" id="recordingButton" onclick="startRecording()"></button>
            </div>
        </div>
        <div data-role="recordings"></div>
    </div>


    <!--js link continued-->

</body>

</html>


