<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery-2.1.4.js"></script>
    <title>Text Analysis</title>

</head>

<style>
    body {
        background-color: blue;
    }
</style>


<body>
    <h1>We have completed converting your audo file to text. Please choose an option below</h1>
    <form action="">
        <button class="btn btn-primary">Copy the above text</button>
    </form>
    <form action="">
        <button>Send email to yoruself</button>
    </form>
    <form action="/youtubevids">
        <button>Find youtube videos based on your audio file</button>
    </form>
</body>

</html>