<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>

<body>
    <div style="display: flex;"></div>
    {% for video in videos %}
    <div style="display: block; text-align: center;">
        <iframe width="441" height="300" src="{{video}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    {% endfor %}
    </div>
</body>

</html>